---
import { author } from '../../../data/author';
import FormattedDate from '../../FormattedDate.astro';
import { slugifyTag as slugify } from '../../../lib/slug';
import SocialLinks from '@/components/sections/SocialLinks.astro';

interface Props {
  pubDate: Date;
  readingTimeMin?: number;
  authorName?: string;
  authorProf?:string;
}
const { pubDate, readingTimeMin, authorName } = Astro.props as Props;
---

<div class="sw-post-meta flex items-start justify-between gap-4">
  <div class="flex items-start gap-3">
    <div class="w-24 h-24 rounded-full overflow-hidden border-3 border-[color:var(--border--primary)] hover:scale-103">
      <img src={author.avatar.src} alt={author.name} width="48" height="48" class="w-full h-full object-cover" />
    </div>
    <div class="mt-3 flex flex-col">
        <SocialLinks/>
        <h3 class="font-semibold text-[color:var(--color-text-tertiary)]" style="color: var(--accent)">
            <a href="/" class="no-underline hover:underline">
              {authorName || author.name}
           </a>
        </h3>
      <h5 class="px-2 items-start text-sm text-[color:var(--color-text-primary)] hidden "> {author.authorProf} </h5>
    </div>
  </div>
</div>


