---
import BaseHead from '@/components/BaseHead.astro';
import { SITE_DESCRIPTION,SITE_TITLE } from '@/consts';
import Header from '@/components/sections/Header.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = 'About Me';
const pageDescription = 'Learn more about my background and approach to software engineering.';
---

<!doctype html>
  <html lang="en" data-theme ="white" class="dark">
    <head>
      <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}></BaseHead>
      

    </head>
    <body>
      <Header />
      <main>

      </main>
      
      
    </body>



  </html>


  

</html>


 


